<div class="row pl-5 pr-5 pt-2 pb-0" [formGroup]="FormGroup">
  <mat-label style="color: #221e59 !important; font-size: 14px !important"
    >Vehicle Type</mat-label
  >

  <mat-form-field
    [color]="'Accent'"
    appearance="outline"
    [ngClass]="isSearch ? 'input-search' : ''"
  >
    <mat-select
      (selectionChange)="onChangeValue($event)"
      [formControlName]="controlName"
      [required]="true"
      [placeholder]="'Select vehicle'"
    >
      <ng-container *ngFor="let item of (vehicleTypeDataSource$ | async)?.data">
        <mat-option [value]="item.id">{{ item.name }}</mat-option></ng-container
      >
    </mat-select>
    <mat-error
      class="text-center"
      *ngIf="FormGroup && controlHasError('required')"
    >
      <strong> Vehicle Type is required</strong>
    </mat-error>
    <mat-error class="text-center" *ngIf="FormGroup && isControlInvalid()">
      <strong> Vehicle Type is Invalid </strong>
    </mat-error>
  </mat-form-field>
</div>
