@import 'reset';
@import 'global';
@import 'typography';
@import 'mixin';

$theme-color-bright: #4c4c92;
$theme-color-bright: #4c4c92 ;
$theme-color-dark: #586980;
$theme-color-light-gray: #F2F2F3;
$theme-color-dark-gray: #2F353C;
$theme-color-teal: #05A4B5;
$theme-font-color-grey: #7f7f7f;
$theme-color-banner-gray: #666666;
$theme-color-banner-bg: #d5fff1;
$theme-color-pill-light-yellow: #F8FDE8;
$theme-color-pill-dark-yellow: #87452B;
$sd-black: #000000;
$sd-base-gray: #283237;
$sd-base-gray-25: #F8F9FD;
$sd-base-gray-50: #EDEFF1;
$sd-base-gray-200: #D1D8DB;
$sd-base-gray-700: #596D79;
$sd-base-gray-800: #495963;
$sd-base-gray-900: #283237;
$sd-base-gray-400: #94A3AD;
$sd-base-gray-300: #B3BEC4;
$sd-base-gray-500: #7D8F9B;
$sd-base-green-400: #4c4c92;
$sd-error-red: #EB4E3D;
$sd-error-red-50: #FCECEE;
$sd-error-red-100: #F7CFD3;
$sd-error-red-400: #DD5E56;
$sd-basic-dark: #273240;
