@import 'typography';

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
tfoot,
thead,
th,
button,
article,
aside,
footer,
header,
hgroup,
menu,
nav
 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: $font_family_Bold !important;
    // vertical-align: $font_family;
}
.btn  ,
html,
body,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
td,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
center,
dl,
dt,
dd,
ol,
ul,
li,
form,
table,
caption,
tbody,
tr,
article,
canvas,
details,
embed,
figure,
hgroup,
output,
ruby,
section,
.menu-text,
summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: $font_family !important;
    // vertical-align: $font_family;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    border: none;
    background: none;
}

body {
    background: #F9F9F9 !important;
}

*:active,
*:focus,
*:hover,
*:visited {
    outline: none !important;
}
